body{
    background-image: url("/images/bokeh.jpg")

}
.home-wrapper {
    background-color: azure;
    height: 90vh;
    width: 90%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2.5% 5%;

}



img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -75.5px;
    border-radius: 50%;
}

.handles {
    list-style: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.handles li {
    list-style: none;
    float: left;
    padding: 10px 50px;
}

.handles li:first-child {
    padding-left: 25px;
}

.handles li:last-child {
    padding-right: 25px;
}

.handles li a {
    color: #444444;
    font-size: 48px;
}

.card {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}