body{
    background-image: url("/images/bokeh.jpg");
    font-family: Arial, Helvetica, sans-serif;

}
.home-wrapper {
    background-color: azure;
    border-radius: 20px;
    height: 90vh;
    width: 90%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2.5% 5%;

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -155.5px 0 0 -125.5px;
}

.handles {
    list-style: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.handles li {
    list-style: none;
    float: left;
    padding: 10px 50px;
}

.handles li:first-child {
    padding-left: 25px;
}

.handles li:last-child {
    padding-right: 25px;
}

.handles li a {
    color: #444444;
    font-size: 48px;
}

h1 {
    text-align: center;
}
.about-us {
    
    background-color: azure;
    border-radius: 20px;
    height: 70vh;
    width: 90%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 5%;
}

.about-us p{
    padding: 50px;
}


.gallery.container img {
    height: auto;
    width: 100%;
}